* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
  }
  
  body {
    color: #000;
    height: 100vh;
    background-image: url("img/background_quer.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
  /* halbtransparentes Overlay, um Text besser lesbar zu machen */
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  header {
    text-align: center;
    margin-top: 40px;
  }
  
  .zettel {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    font-family: barlow, sans-serif;
    font-style: semibold; 
  }
  
  .zettel::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: url('paper-edge.svg') no-repeat center bottom;
    background-size: cover;
  }